body{background-color: pink;}
h1{color: black;text-align: right;}
button{background-color: black;color: white;align-content: right;}
p{color: black;text-align: right;}
summary{color: black;text-align: right;}
a{color: black;}
footer{color: black;text-align: right;}
div{align-content: right;}
details{align-content: right;}
div{align-items: right;}
header{color: black;text-align: right;}
img{align-items: right;}
#buttons{margin-left: 915px;} 