body{background-color: purple;}
h1{color: white;text-align: center;}
button{background-color: black;color: white;align-content: center;}
p{color: white;text-align: center;}
summary{color: white;text-align: center;}
a{color: black;}
footer{color: white;}
div{align-content: center;}
details{align-content: center;}
div{align-items: center;}
header{color: white;text-align: left;}
img{align-items: center;}
#buttons{margin-left: 450px;} 