body{background-color: purple;}
h1{color: black;text-align: left;}
button{background-color: black;color: white;}
p{color: black;text-align: left;}
summary{color: black;text-align: left;}
a{color: black;}
footer{color: black;}
div{align-content: left;}
details{align-content: left;}
div{align-items: center;}
header{color: black;text-align: left;}
img{align-items: center;}
#buttons{margin-left: 450px;} 